* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--cor-0);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

.header-bg {
  background-color: #100f27;
}

.header-menu {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-nav ul {
  display: flex;
}

.header-nav li a {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2em;
  font-family: "Poppins", sans-serif;
  border-bottom: 4px solid #100f27;
  padding: 4px 6px;
  width: 100%;
  transition: 0.3s;
}

.header-nav li a:hover {
  border-bottom: 2.5px solid #fff;
}

.header-nav ul li + li {
  margin-left: 25px;
}

@media (max-width: 800px) {
  .header-nav {
    margin-bottom: 0px;
  }
  .header-menu {
    padding: 15px 10px;
  }
  .header-menu .header-nav {
    justify-items: center;
  }
  .header-menu img {
    margin-bottom: 10px;
  }
  .header-li {
    margin: 0 auto;
    justify-content: center;
    padding: 20px 0px;
  }
  .header-nav li a {
    background-color: #3d51c2;
    padding: 8px;
    border-radius: 4px;
    border-bottom: none;
  }
  .header-nav li a:hover {
    border-bottom: none;
  }
  .header-nav li a:hover {
    background-color: #8393ec;
  }
}
.introducao-bg {
  background-color: #100f27;
  box-shadow: inset 0 -120px var(--cor-0);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  align-items: center;
}

.introducao img {
  max-width: 500px;
  justify-self: end;
}

.introducao-conteudo {
  padding-bottom: 80px;
}

.introducao-conteudo h1 {
  font: 600 4rem/1.125 "Poppins", sans-serif;
  margin-bottom: 30px;
  max-width: 15ch;
}

.introducao-conteudo p {
  margin-bottom: 20px;
  color: var(--cor-4);
}

.introducao-conteudo span {
  font-family: "Poppins", sans-serif;
  color: #5c6bc0;
}

@media (max-width: 800px) {
  .introducao-bg {
    background-color: #0b1133;
  }
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao img {
    display: none;
  }
  .introducao img {
    background-image: url(../../img/fotos/introducao\ 1.1.jpg);
  }
  .introducao-conteudo h1 {
    margin-top: 20px;
    font-size: 35px;
  }
  .introducao-conteudo p {
    font-size: 17px;
    max-width: 36ch;
  }
  .introducao-conteudo a {
    font-size: 14px;
  }
  .introducao-bg {
    padding-bottom: 70px;
  }
}
.bici-escolha-bg {
  background-color: var(--cor-p1);
}

.bicicletas-escolha {
  max-width: 1400px;
}

.bici-escolha-bg h2 {
  margin-bottom: 30px;
}

.bicicletas-escolha {
  padding: 20px;
  display: flex;
  gap: 30px;
  margin: 0 auto;
}

.bici-escolha-bg h2 span {
  font-family: "Poppins", sans-serif;
  color: #5c6bc0;
}

.bici-escolha-bg h2,
span {
  color: var(--cor-12);
}

.bici-escolha-bg {
  padding-top: 60px;
  padding-bottom: 120px;
}

.bicicletas-escolha h3 {
  margin-top: 15px;
  margin-bottom: 5px;
  color: var(--cor-12);
}

.bicicletas-escolha img {
  max-width: 100%;
}

:root {
  --cor-0: #ffffff;
  --cor-1: #f7f7f7;
  --cor-2: #ededed;
  --cor-3: #dedede;
  --cor-4: #cccccc;
  --cor-5: #b2b2b2;
  --cor-6: #9c9c9c;
  --cor-7: #717171;
  --cor-8: #595959;
  --cor-9: #404040;
  --cor-10: #2e2e2e;
  --cor-11: #111111;
  --cor-12: #000000;
  --cor-p1: #ffbb00;
  --cor-p2: #e4a30b;
  --cor-p3: #a66f00;
  --cor-p4: #664400;
  --cor-p5: #332200;
  --cor-bgheader: #100f27;
  --cor-bt: #3d51c2;
  --cor-bt-hover: #8393ec;
}

.cor-0 {
  color: var(--cor-0);
}

.cor-1 {
  color: var(--cor-1);
}

.cor-2 {
  color: var(--cor-2);
}

.cor-3 {
  color: var(--cor-3);
}

.cor-4 {
  color: var(--cor-4);
}

.cor-5 {
  color: var(--cor-5);
}

.cor-6 {
  color: var(--cor-6);
}

.cor-7 {
  color: var(--cor-7);
}

.cor-8 {
  color: var(--cor-8);
}

.cor-9 {
  color: var(--cor-9);
}

.cor-10 {
  color: var(--cor-10);
}

.cor-11 {
  color: var(--cor-11);
}

.cor-12 {
  color: var(--cor-12);
}

.cor-p1 {
  color: var(--cor-p1);
}

.cor-p2 {
  color: var(--cor-p2);
}

.cor-p3 {
  color: var(--cor-p3);
}

.cor-p4 {
  color: var(--cor-p4);
}

.cor-p5 {
  color: var(--cor-p5);
}

.font-1-xs {
  font: 500 0.75rem/1.35 "Poppins", sans-serif;
}

.font-2-xs {
  font: 400 0.875rem/1.43 "Roboto", sans-serif;
}

.font-1-s {
  font: 500 1rem/1.5 "Poppins", sans-serif;
}

.font-2-s {
  font: 400 1rem/1.5 "Roboto", sans-serif;
}

.font-1-m,
.font-1-m-b {
  font: 500 1.125rem/1.35 "Poppins", sans-serif;
}

.font-1-m-b {
  font-weight: 600;
}

.font-2-m {
  font: 500 1.125rem/1.35 "Roboto", sans-serif;
}

.font-1-l {
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
}

.font-2-l,
.font-2-l-b {
  font: 400 1.5rem/1.5 "Roboto", sans-serif;
}

.font-2-l-b {
  font-weight: 500;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.font-1-xl {
  font: 600 2rem/1.25 "Poppins", sans-serif;
}

.font-2-xl {
  font: 500 2rem/1.25 "Roboto", sans-serif;
}

.font-1-xxl {
  font: 600 4rem/1.125 "Poppins", sans-serif;
}

@media (max-width: 1200px) {
  .font-1-xxl {
    font-size: 3rem;
  }
  .font-2-l {
    font-size: 1.125rem;
  }
  .font-2-l-b {
    font-size: 1.125rem;
  }
}
@media (max-width: 800px) {
  .font-1-xxl {
    font-size: 2rem;
  }
  .font-1-xl,
  .font-2-xl {
    font-size: 1.5rem;
  }
}
.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao1 {
  padding: 16px 32px;
  background-color: #5c6bc0;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-0);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  max-width: -moz-max-content;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.botao1:hover {
  background-color: #4151ac;
}

.botao2 {
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-p5);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  max-width: -moz-max-content;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.col-2 {
  grid-column: span 2;
}

.botao.secundario {
  background: var(--cor-10);
  color: var(--cor-2);
}

.botao.seta {
  display: flex;
  align-items: center;
}

.botao.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url("../../img/icones/seta.svg");
  transition: transform 0.3s;
}

.botao.seta:hover::after {
  transform: translateX(4px);
}

.botao.secundario:hover {
  background: var(--cor-9);
}

.link {
  display: inline-block; /*definindo com inline-block pega todo o padding como link*/
  color: var(--cor-p1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}

.link::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: currentColor; /*vai utilizar qualquer valor q foi definido no Pai*/
}

.link:hover {
  color: var(--cor-0);
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */