.introducao-bg {
  background-color: #100f27;
  box-shadow: inset 0 -120px var(--cor-0);
}
.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  align-items: center;
}

.introducao-conteudo {
  padding-bottom: 80px;
}
.introducao-conteudo h1 {
  font: 600 3rem/1.125 "Poppins", sans-serif;
  margin-bottom: 30px;
}
.introducao-conteudo p {
  margin-bottom: 20px;
  max-width: 48ch;
}
.introducao-conteudo span {
  font-family: "Poppins", sans-serif;
  color: #5c6bc0;
}
