.introducao-bg {
  background-color: #100f27;
}
.introducao-conteudo {
  display: grid;
  grid-template-columns: 6fr 2fr;
}
.introducao-conteudo img {
  max-width: 450px;
}
.introducao-itens {
  display: grid;
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: #fff;
  padding-top: 160px;
}
.introducao-itens h1 {
  font-family: "Poppins", sans-serif;
  max-width: 15ch;
}
.introducao-itens p {
  max-width: 40ch;
}
